
.img-01{
   //width:500px;
   // height: 300px;
    border-radius:10%;
    //max-width:1000px;
    //min-width: 320px;
    //margin: auto;
    //border-radius: 25px;
    //border: 1px solid rgba($color: blue, $alpha: 1.0);
 }

.row-principal{
     border-radius:8% 30%;
    padding: 10%;
    background-color: rgba($color: rgb(0, 20, 41), $alpha: 0.7);
    margin: 2px;
    box-shadow: 8px 6px 8px 0 rgba(127, 13, 152, 0.2);
    margin: auto;
    //color:aqua;
   //background: rgb(118, 23, 163);
 }
 
 .titulo{
   color:lightskyblue;
 }

 .subtitulo{
   color:white
 }