<section id="introduccion" class=" mx-auto text-center  pt-5">

    <!-- <div class="container"> -->
        <div class="container row-principal text-light">
            <h1 class="titulo pt-2 fs-2 border-bottom border-3">
                <span class=" "> BIENVENIDO A AL HOTEL PARAISO</span>
            </h1>
            <p class="subtitulo pt-2 ">
                <span class=" ">DESCUBRE NUESTRO HOTEL EN LA PAZ BOLIVIA</span>
            </p>
            <div class="row p-3 fs-3">
                <div class="text col-lg-6 col-sm-12">
                    <p class="nosotros" class="p-1 fs-5 ">
                        El Hotel el lago se encuentra en la hermosa tierra de Bolivia, en el lago
                        más alto del mundo, con una altura sobre el nivel del mar de 3841 m.s.n.m.
                    </p>
                    <p class="nosotros" class="p-1 fs-5 ">
                        Hotel Paraiso del lago ofrece habitaciones simples, dobles, triples, cuádruples, familiares con
                        vistas panorámicas, todos con baño privado Wi Fi (Fibra Óptica), TV cable, garage, desayuno
                        buffet americano.
                    </p>

                </div>
                <div class="col-lg-6 col-sm-12">
                    <img class="img-01 img-fluid" src="../../../assets/img/lugares_hotel/h3.jpg" alt="" >
                </div>
            </div>
            <div class="row p-1 fs-1">
                <div class="col-lg-6 col-sm-12">
                    <img class="img-01 img-fluid d-none d-sm-block" src="../../../assets/img/lugares_hotel/h6.jpg" alt="">
                </div>
                <div class=" text col-lg-6 col-sm-12">
                    <p class="nosotros" class="p-1 fs-5">
                        También trabajamos con diferentes agencias turísticas, viajes terrestres y fluviales, ofreciendo
                        una gran variedad de promociones a la isla del sol e isla de la luna, manteniendo la esencia del
                        ecosistema cultural ancestral.
                    </p>
                    <p class="nosotros" class="p-1 fs-5">
                        La recepción está abierta las 24 horas y ofrece servicio de enlace con el aeropuerto de
                        Copacabana, situado a 3 km.
                        El hotel Paraiso del lago ofrece aparcamiento gratuito y se encuentra a 200 metros de la isla
                        del Sol y de la isla de la Luna.
                    </p>
                </div>

                <div class="col-lg-6 col-sm-12 d-block d-sm-none">
                    <img class="img-01 img-fluid" src="../../../assets/img/lugares_hotel/h6.jpg" alt="">
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>









































<!--<section id="introduccion" class="w-75 mx-auto text-center pt-5">
    <h1 class="p-3 fs-2 border-top border-3">
        <span class="text-primary">  BIENVENIDO AL HOTEL PARAISO DEL LAGO</span>
    </h1>
    <p class="p-3 fs-4">
        <span class="text-primary">DESCUBRE NUESTRO HOTEL EN COPACABANA-LA PAZ BOLIVIA</span>
    </p>
    <div class ="container">
        <div class="row p-3 fs-2">
            <div class="col-lg-8 col-md-12">
                <p  class="nosotros" class="p-1 fs-5">
                    El hotel Paraiso del lago se encuentra en la hermosa tierra de Copacabana Bolivia, en el lago más alto del mundo Titicaca, con una altura sobre el nivel del mar de 3841 m.s.n.m.
                </p>
                <p  class="nosotros" class="p-1 fs-5">
                    Hotel Paraiso del lago ofrece habitaciones simples, dobles, triples, cuádruples, familiares con vistas panorámicas, todos con baño privado Wi Fi (Fibra Óptica), TV cable, garage, desayuno buffet americano.
                </p>

            </div>
            <div class="col-lg-4 col-md-12">
                <img class="img-fluid" src="../../../assets/img/lugares_hotel/h3.jpg" class="d-block w-100" alt="imagen1">
            </div>
        </div>
        <div class="row p-3 fs-4">
            <div class="col-lg-6 col-sm-12 p-4 fs-4">
                <img class="img-fluid" src="../../../assets/img/lugares_hotel/h6.jpg" class="d-block w-100" alt="imagen1">

            </div>
            <div class="col-lg-6 col-sm-12">
                <p  class="nosotros" class="p-1 fs-5">
                    También trabajamos con diferentes agencias turísticas, viajes terrestres y fluviales, ofreciendo una gran variedad de promociones a la isla del sol e isla de la luna, manteniendo la esencia del ecosistema cultural ancestral.
                </p>
                <p  class="nosotros" class="p-1 fs-5">
                    La recepción está abierta las 24 horas y ofrece servicio de enlace con el aeropuerto de Copacabana, situado a 3 km.
                    El hotel Paraiso del lago ofrece aparcamiento gratuito y se encuentra a 200 metros de la isla del Sol y de la isla de la Luna.
                </p>
            </div>
        </div>
    </div>

  <!--  <p class="p-3 fs-4">
        <span class="text-primary">DESCUBRE NUESTRO HOTEL EN COPACABANA-LA PAZ BOLIVIA</span>
    </p>
    <p  class="nosotros" class="p-1 fs-5">
        El hotel paraiso del lago se encuentra en la hermosa tierra de Copacabana Bolivia, en el lago más alto del mundo Titicaca, con una altura sobre el nivel del mar de 3841 m.s.n.m.
    </p>
    <p  class="nosotros" class="p-1 fs-5">
        Hotel paraiso del lago ofrece habitaciones simples, dobles, triples, cuádruples, familiares con vistas panorámicas, todos con baño privado Wi Fi (Fibra Óptica), TV cable, garage, desayuno buffet americano.
    </p>
    <p  class="nosotros" class="p-1 fs-5">
        También trabajamos con diferentes agencias turísticas, viajes terrestres y fluviales, ofreciendo una gran variedad de promociones a la isla del sol e isla de la luna, manteniendo la esencia del ecosistema cultural ancestral.
    </p>
    <p  class="nosotros" class="p-1 fs-5">
        La recepción está abierta las 24 horas y ofrece servicio de enlace con el aeropuerto de Copacabana, situado a 3 km.
        El hotel paraiso del lago ofrece aparcamiento gratuito y se encuentra a 200 metros de la isla del Sol y de la isla de la Luna.
    </p>

  </section> -->
