<header class="container-fluid  d-flex justify-content-left">
    <!-- <p class="text-light m-0 p-2 fs-6">Contactanos</p> -->
    <ngx-typed-js 
        [strings]="['Un lugar donde reponer energias','Para seguir con la aventura','en el lago más alto del mundo.','Hotel Paraiso del Lago']"
        [loop]='true' [shuffle]='false' [typeSpeed]='40' [showCursor]='false' cursorChar='true'>
        <p class="text-dark pt-2"> <span class="typing text-light fst-italic"></span>.</p>
    </ngx-typed-js>
</header>