<nav id="menu" class="navbar navbar-expand-lg   p-0" data-bs-theme="dark" >
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Habitaciones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#hab1">Simple</a></li>
              <li><a class="dropdown-item" href="#hab2">Doble</a></li>
              <li><a class="dropdown-item" href="#hab3">Triple</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#hab4">Matrimonial</a></li>
              <li><a class="dropdown-item" href="#hab5">Matrimonila+1 Simple</a></li>
              <li><a class="dropdown-item" href="#hab6">Matrimonioas+2 Simples</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-blog">Nuestro Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-contact">Contacto</a>
          </li>
        </ul>

        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="email">
          <button class="btn btn-outline-primary" type="button">Suscribete</button>
        </form> -->
      </div>
    </div>
  </nav>
