<footer class="site-footer section-padding">
    <div class="container">

        <div class="row">

            <div class="col-12 text-center">
                <h4 class="text-white mt-3 me-4">HOTEL EL PARAISO</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Dirección:</h6>

                <p>Av. Busch <br>
                    Nro. 4545 Zona Litoral <br>
                    La Paz Bolivia
                </p>
                <p>
                    Tel. Linea Fija: <span class="fw-bold">77777777</span><br>
                    Celular: <span class="fw-bold">(591) 7777777</span>
                </p>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Horario de atención</h6>
                <p class="">
                    Hora de ingreso al hotel <br> (Check In) 12:00 A.M. <br>
                    Hora de Salida del hotel <br> (check Out) 11:00 A.M.<br>
                    Atención las 24 Hrs.
                </p>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Redes Sociales</h6>

                <ul class="redes">
                    <li><a href="" target="_blank" class="bi-facebook text-primary"> Facebook</a></li>
                    <li><a href="" target="_blank" class="bi-youtube text-danger"> Youtube</a></li>
                    <li><a href="https://wa.me/+59176552354/?text=" target="_blank" class="bi-whatsapp text-success"> Whatsapp</a></li>

                </ul>
                <p class="fs-6">Copyright © 2024
            </div>

        </div>
     </div>
</footer>
